<footer class="relative min-h-[800px] w-full pb-32 2xl:mt-24 2xl:pb-96">
  <div
    class="absolute inset-0 bg-[url('../assets/imagenFooter.jpg')] footer-background bg-bottom"
  >
  </div>

  <div
    class="relative flex h-full flex-col items-center justify-center text-[#2a1f26]"
  >
    <div class="footer-content">
      <footer>@2025 con ♥️ por Alejandro Muñoz</footer>
    </div>
  </div>
</footer>

<style>
  .footer-background {
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(to bottom, transparent 20%, black 50%);
    background-position: center 120px; /* Mueve la imagen hacia abajo */
  }
</style>
