<footer class="relative min-h-[600px] w-full pb-32 2xl:mt-24 2xl:pb-96">
  <div
    class="absolute inset-0 bg-[url('../assets/bg_footer.jpeg')] bg-cover bg-bottom [mask-image:linear-gradient(transparent,black_20%)]"
  >
  </div>

  <div
    class="relative flex h-full flex-col items-center justify-center text-[#2a1f26]"
  >
    <div class="footer-content">
      <footer>@2025 con ♥️ por Alejandro Muñoz</footer>
    </div>
  </div>
</footer>
