<div class="contenedor_formulario">
  <div class="contendor_ubi">
    <h3>¿Dónde nos encontraremos?</h3>
    <div class="contenedor_iframe">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.796618889557!2d2.0188996154225164!3d41.31725270737247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498f5beadce87%3A0x6d2c0f3c8ceaad89!2sAtrium%20Viladecans!5e0!3m2!1ses!2ses!4v1685569899269!5m2!1ses!2ses"
        width="100%"
        height="500"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>
  </div>

  <div class="contenedor_form_iframe">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSc5F1SqXSY58euXOe8ERpH1eWcQaituKstLdkO6BBQ8fkGWvg/viewform?embedded=true"
      width="640"
      height="900"
      style="overflow: hidden;">Cargando…</iframe
    >
  </div>
</div>

<style>
  .contenedor_formulario {
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .contendor_ubi {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor_iframe {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    border: 4px solid black;
  }

  iframe {
    border: none;
  }

  /* Responsive ajustes para pantallas pequeñas */
  @media (max-width: 768px) {
    .contenedor_formulario {
      flex-direction: column;
      padding: 10px;
    }

    .contendor_ubi,
    .contenedor_form {
      width: 100%;
    }

    .contenedor_form iframe {
      min-height: 400px;
      background-color: aqua;
    }

    .contenedor_form_iframe {
      padding-top: 100px;
      display: flex;
      align-items: center;
      width: 400px;
    }
  }
</style>
