<div class="contenedor_formulario">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSc5F1SqXSY58euXOe8ERpH1eWcQaituKstLdkO6BBQ8fkGWvg/viewform?embedded=true"
    width="640"
    height="750"
    frameborder="0"
    marginheight="0"
    marginwidth="0">Cargando…</iframe
  >
</div>

<style>
  .contenedor_formulario {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  iframe {
    border: none;
    width: 100%;
  }
</style>
