---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h2 class="text-dark-magenta mb-4 text-center text-4xl font-light">
  <div class="block sm:inline">
    <strong class="font-bold title">{title}</strong>
  </div>
</h2>
<style>
  .title {
    font-family: "Chalet", sans-serif;
    font-size: 1.3rem;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 1rem;
    }
  }
</style>
