---
import Countdown from "../sections/Countdown.astro";
import Formulario from "../components/Formulario.astro";
import ArrowScroll from "./ArrowScroll.astro";
---

<div id="container" class="pt-10">
  <main class="flex justify-center items-center flex-col">
    <h1 class="text-center title" id="text">
      BIENVENIDX<br />A LA JORNADA<br />DEPORTIVA
    </h1>

    <p class="subTitle" id="subTitle">
      Organizado por The Style Outlet Viladecans
    </p>
    <!-- ARROW -->
    <ArrowScroll />
    <!-- CONTADOR -->
    <div id="toscroll">
      <Countdown timestamp={1751193000000} />
    </div>
    <!-- FORMS + UBI-->
    <Formulario />
    <!-- DEPORTES -->
  </main>
</div>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";

  //PLUGINS
  gsap.registerPlugin(SplitText);

  ////SPLIT TEXT H1////
  let text = document.querySelector("#text");
  let split = SplitText.create(text, { type: "chars, words, lines" });

  gsap.from(split.words, {
    y: -200,
    opacity: 0,
    rotation: "random(-80, 80)",
    duration: 0.7,
    ease: "back",
    stagger: 0.1,
  });

  /////////////////
  let subTitle = document.querySelector("#subTitle");
  let splitSubTitle = SplitText.create(subTitle, { type: "chars" });

  gsap.from(splitSubTitle.chars, {
    x: 10,
    opacity: 0,
    duration: 1,
    ease: "power4",
    stagger: 0.02,
  });
</script>

<style>
  html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: "Chalet";
    src: url("../assets/fonts/ChaletNY.otf") format("opentype");
    font-weight: bolder;
    font-style: normal;
  }

  @font-face {
    font-family: "Anton";
    src: url("../assets/fonts/Anton-Regular") format("ttf");
  }
  @font-face {
    font-family: "AntonSC";
    src: url("../assets/fonts/AntonSC-Regular") format("ttf");
  }

  .title {
    font-family: "AntonSC", sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    line-height: 0.8;
    margin-bottom: 0.3em;
    letter-spacing: -5px;
    color: oklch(25.53% 0.0209 340.25);
  }
  /* #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vp;
    z-index: -1;
    filter: blur(100px);
  } */
  .subTitle {
    color: #673ab7;
    font-family: "Chalet", sans-serif;
  }

  #container {
    /* background-color: hsla(0, 22%, 99%, 1); */
    background-image: radial-gradient(
        at 0% 54%,
        hsla(209, 100%, 57%, 0.59) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 53% 53%,
        hsla(335, 92%, 51%, 0.25) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 50% 0%,
        hsla(266, 100%, 80%, 0.59) 0px,
        transparent 50%
      ),
      radial-gradient(at 0% 0%, hsla(47, 100%, 57%, 0.71) 0px, transparent 50%),
      radial-gradient(
        at 100% 0%,
        hsla(20, 100%, 57%, 0.59) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 100% 48%,
        hsla(92, 100%, 57%, 0.6) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 100% 100%,
        hsla(209, 100%, 57%, 0.54) 0px,
        transparent 50%
      ),
      radial-gradient(at 0% 98%, hsla(40, 100%, 57%, 0.58) 0px, transparent 50%);
    mask-image: linear-gradient(to top, transparent 1%, black 10%);
  }

  main {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
  }

  .box {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid white;
  }

  /*--------Escritorio--------*/
  @media (min-width: 768px) {
    .arrow_container {
      margin: 20px 0px 150px 0px;
    }
    .title {
      font-size: 7rem;
    }
    .subTitle {
      font-size: 1.4rem;
      margin-bottom: 30px;
    }
  }

  /* Para mobil*/
  @media screen and (max-width: 768px) {
    .title {
      font-family: "AntonSC", sans-serif;
      font-weight: bolder;
      font-size: 3.3rem;
      line-height: 0.9;
      margin-bottom: 0.8em;
      letter-spacing: -5px;
      color: oklch(25.53% 0.0209 340.25);
      margin: 0px 20px;
    }
    .subTitle {
      margin: 30px 0px 40px 0px;
      font-size: 0.8rem;
    }

    #container {
      display: flex;
      flex-direction: column;
    }
  }
</style>
